<h2 class="title">Hola</h2>
<nav>
    <ul>
        <li><a href="localhost:8080">Home</a></li>
        <li><a href="localhost:8080/about">About</a></li>
        <li><a href="localhost:8080/contact-me">Contact</a></li>
    </ul>
</nav>