<!DOCTYPE html>
<html lang="en">
<% const title = 'About Us' %>
<%- include('./partials/head.ejs', {title: title}) %>
<body>
    <%- include('./partials/header.ejs', {title: title}) %>
    <p>Here is where you'll find all the information about us.</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>