<!DOCTYPE html>
<html lang="en">
    <% const title = 'Contact me' %>
<%- include('./partials/head.ejs', {title: title}) %>
<body>
    <%- include('./partials/header.ejs', {title: title}) %>
    <h4>Contact information</h4>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>