<!DOCTYPE html>
<html lang="en">
    <% const title = 'Main Page' %>
<%- include('./partials/head.ejs', {title: title}) %>
<body>
    <%- include('./partials/header.ejs', {title: title}) %>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>